*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   font-family: "BigShouldersText-Regular";
   overflow-x: hidden;
}



a, a:hover{
    text-decoration:none;
}

li{
    list-style:none;
}
p{
    color:#5f5f5f;
    line-height:26px;
    font-family: "Rubik-Regular";
    font-size: 14px;
}

button:focus{
    outline:0;
}

.mb20{
    margin-bottom: 20px;
}

.mt50{
    margin-top: 50px;
}

.mt35{
    margin-top: 35px;
}

.all-slider .owl-carousel .owl-nav{
    text-align:center;
}

.all-slider .owl-carousel .owl-nav button.owl-next, .all-slider .owl-carousel .owl-nav button.owl-prev, .all-slider .owl-carousel button.owl-dot{
    margin:0 10px;
}

.mfp-wrap{
    z-index:100000 !important;
}

section{
    transition: all .1s ease; 
}


.section-title{
    text-align:center;
    margin-bottom: 80px;
}

.title-inner{
    margin-bottom: 20px !important;
}

.section-title h3{
    color:#7f7f7f;
}

.section-title h2 {
    font-size: 40px;
    color: #5f1700;
    margin-bottom: 20px;
    font-family: "PinyonScript-Regular";
    margin-bottom: 0;
}

.section-title h1 {
    font-size: 60px;
    color: #212121;
    margin-bottom: 7px;
    font-weight:700;
    margin-top: -12px;
}

.section-title img{
    margin-bottom: 10px;
}

section{
    padding:80px 0;
}

.container{
    max-width:1300px;
}
.imagelist .col-md-4:nth-child(n+6) {
    display: none;
}
.more, .less {
  
  clear: both;
  color: #fff;
  cursor: pointer;
  display: block;
   font-size: 16px;
  padding: 21px 100px;
    font-family: "Rubik-Regular";
  padding: 6px 0;
  text-align: center;
	text-transform: uppercase;
  margin:0 auto;
}
.btn-gradient{
    background-image: radial-gradient(#fff -45%, #e3aa4a 65%);
    padding: 12px 35px !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-top: 20px;
}

.btn-gradient:hover{
    color:#000 !important;
}

.btn{
    background-image: url('btn-img.png');
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 16px;
    transition: 500ms;
    background-position: center;
    background-repeat: no-repeat;
    padding: 21px 100px;
    font-family: "Rubik-Regular";
    
}
.btn img{
    padding-right: 10px;
    vertical-align: top;
}

.default-btn{
    border:0 none;
    color:#9b735d !important;
    font-size: 20px;
    text-decoration:underline;
    text-transform: capitalize;
    background-color: transparent;
    background-image: inherit !important;
    padding: 0;
    font-weight:500;
}

.default-btn img{
    margin-left: 5px;
}

.default-btn:hover{
    border:0 none !important;
    color:#9b735d !important;
    font-size: 20px;
}

.btn:hover{
    color:#fff;
    opacity:0.7;
    transition: 1s;
}

.btn-text{
    position: relative;
}

.btn-text:hover{
    color:#e3aa4a;
}

.btn-text:before{
    content: "";
    display: block;
    position: absolute;
    left: -35px;
    top: 8px;
    width: 29px;
    height: 2px;
    background-color: #E3AA4A;
}

.btn-text{
    font-weight: 600;
    color: #000;
    transition:500ms;
}

.wannestz-menu .btn{
        padding: 21px 65px;
}
.testimonial-about{
    margin-bottom:40px;
}
.about-inner{
    padding-top:60px;
}

.page-title h1{
    color:#fff;
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
}

.nav-breadcrum{
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: -20px;
    position:inherit;
}
.breadcrumb{
    background-color: inherit;
}
.breadcrumb-item a{ 
    color:#fff;
    font-size: 14px;
}
.breadcrumb-item.active{
    color:#e3aa4a;
    font-size: 14px;
}
.breadcrumb-item+.breadcrumb-item::before{
    color:#e3aa4a;
}
.content{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*.owl-carousel .owl-stage-outer{
    overflow:initial;
}*/

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
}

.owl-item{
    opacity:0;
}

.owl-item.active{
    opacity:1;
}

.all-slider .owl-carousel .owl-nav{
    margin-top: 50px;
}

.whatsapp {
  position: fixed;
  right: 25px;
  bottom: 90px;
  font-size: 38px;
  color: green;
  padding: 5px 7px;
  border-radius: 10px;
  background-color: #fff;
  display: inline-grid;
  transition: 500ms;
  border: 1.5px solid green;
  z-index:1;
}
.whatsapp:hover {
    color: #fff;
    background-color:green;
}


/*Form control start*/


.form-control {
    height: 50px;
    color: #f76649;
    border: 0 none;
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    border-bottom:1px solid #d8d8d8;
}

.form-control:focus{
    border-color: inherit;
    box-shadow:inherit;
}

.form-control input, input::placeholder, textarea::placeholder{
    font-family: "Rubik-Regular";
    color:#86888a;
}
.theme-btn{
    background: transparent;
    border-radius: 50px;
    padding: 10px 40px;
    border: 2px solid #f58220;
    font-weight: 600;
    transition: 500ms;
    color:#fff;
}
.theme-btn:hover{
    background: #fff;
    color:#f58220;
}

/*Form control end*/

nav{
    height:60px;
    display:flex;
    justify-content:space between;
    padding: 1rem 2rem;
    z-index:100;
    position:fixed;
    width:100%;
}

.navbar-toggler{
    position:absolute;
    top:0;
    right:0;
    transform: translate(-50%, 25%);
}

.navbar-light .navbar-nav .nav-link:focus{
    color:#fff;
}

.mob-menu{
    display:none !important;
}

/* Header */

.main-header {
    z-index: 1000;
    width: 100%;
    transition: 500ms;
}

.inner-header{
    box-shadow: 0 0px 7px 4px #efefef;
}

.header-gradient{
    background-image: linear-gradient(to top, rgb(96 96 96 / 0%) 0%, rgb(0 0 0) 80%);
    width: 100%;
    height: 270px;
    position: absolute;
    top: 0;
}

.navbar-fixed-top{
    position: fixed;
    background-color: #fff;
    transition:500ms;
}

.navbar-fixed-top .header-logo img{
    width:100px;
    transition:500ms;
}

.navbar-fixed-top .header-content{
    padding:7px 0;
}

.navbar-fixed-top .header-gradient{
    display:none !important; 
}

.header-content {
    /*display: flex;
    justify-content: space-between;*/
    padding: 20px 0;
}

.header-content .col-md-5{
    display: flex;
    align-items: end;
}

.header-content .navbar{
    display: flex;
    align-items: center;
    justify-content: right;
    transition:500ms;
}

.header-content .navbar.nav-right{
    justify-content: left;
}

.header-left {
    display: flex;
    flex: 1;
}
.header-right {
    position: relative;
    align-items: center;
}

.header-logo{
    text-align:center;
}

.header-logo img{
    width:145px;
    transition:500ms;
}

.navbar-collapse{
    justify-content:center;
}

ul.navbar-nav.menu-width {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-item
{
    margin: 0 18px;
}

.navbar-light .navbar-nav .nav-link {
    color: #4b3125;
    padding: 0 12px;
    font-size: 24px;
    transition:500ms;
    font-weight: 400;
    position: relative;
    text-align: center;
    font-family: "BigShouldersText-Medium";
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(75 49 37 / 72%);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #4b3125;
    -webkit-transition: 500ms;
    transition: 500ms;
}


/* Home Slider*/



.main-slider .slider-content{
    width:100%;
    text-align: right;
    padding: 265px 0;
}
.main-slider .slider-content h2{
    color:#fff;
    font-family: "PinyonScript-Regular";
    font-size: 34px;
    margin-bottom: 0;
}

.main-slider .slider-content h1{
    color:#fff;
    font-family: "BigShouldersText-Regular";
    font-size: 80px;
    margin-top: -16px;
}

.owl-nav{
    display:none;
}

/* About */

.about .about-img{
    text-align: center;
    transition:all 0.5s ease-in-out;
}

.about .about-img img{
    transform:scale(1);
    transition:all 0.5s ease-in-out;
}

.about .about-img:hover img{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;
}

/*.about .about-img img{
    width:90%;
}
*/
.about h2{
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
}

.about-inner .section-title h1{
    font-weight:500;
}

/* Testimonial */


.testimonial img, .testimonial-about img{
    margin-bottom: 20px;
}

.testimonial p{
    color:#fff;
    font-size: 18px;
}

.testimonial-about p{
    color:#000;
    font-size: 20px;
}

.testimonial .blockquote-footer{
    margin-top: 20px;
    color:#fff;
    font-family: "Rubik-Regular";
}

.testimonial-about .blockquote-footer{
    color:#000;
    padding-top: 16px;
    font-size: 20px;
    font-family: "Rubik-Regular";
}

.blockquote-footer::before{
    content:"";
}

/* Happy Experience */

.happy .section-title{
    margin-bottom: 30px;
}
.happy .section-title img{
    margin-bottom: 0;
}

/* Gallery */

.gallery .col-md-4{
    margin-bottom: 40px;
    transition:all 0.5s ease-in-out;
}

.gallery .col-md-4 img{
    transform:scale(1);
    transition:all 0.5s ease-in-out;
}

.gallery .col-md-4:hover img{
    transform:scale(1.1);
    transition:all 0.5s ease-in-out;
}

/* Contact */



.contact-form{
   border: 1px solid #4c3226;
   border-radius: 260px 260px 0 0;
   padding: 98px 80px;
}


/* Footer  */


footer .col-md-5{
    padding-top: 20px;
    padding-left: 50px;
}

footer .col-md-3{
   max-width: 27%;
   margin-left: -28px;
   flex: 0 0 28%;
}
footer a{
    color: #fff;
    font-weight: 400;
    font-family: "Rubik-Regular";
    font-size: 18px;
    transition:all 0.5s ease-in-out;
}

footer a:hover{
    color:#7d7d7d;
    transition:all 0.5s ease-in-out;
}

footer p{
    margin-bottom: 2px;
    color: #7d7d7d;
    font-weight: 500;
}

.footer-menu, .social-media{
    border-right: 1px solid #3c261e;
    width: 75%;
}
.social-media{
    border-right: 1px solid #3c261e;
}

.footer-menu li{
    text-align: left;
    margin-bottom: 24px;
    position: relative;
}

.footer-menu li a{
    padding-left: 25px;
}

.footer-menu li a:before{
    content:"";
    position: absolute;
    left: 0;
    width: 7px;
    height: 7px;
    background-color: #FFF;
    top: 9px;
}

.social-media {
    display: block;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    margin-left: -36px;
}   

.social-media li {
    margin: 0 10px 24px 0;
    list-style:none;
    text-align: left;
}

.social-media li a{
    color:#fff;
    vertical-align: top;
}
.social-media li a:hover{
    color:#7d7d7d;
        transition: all 0.5s ease-in-out;
}

.social-media li a i{
    color: #fff;
    border: 1px solid #34211a;
    border-radius: 50%;
    list-style: none;
    width: 50px;
    height: 50px;
    font-size: 26px;
    padding: 10px 8px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    margin-right: 10px;
}

.footer-contact .contact-icon {
    margin-bottom: 20px;
}

.footer-contact .contact-img {
    width: 60px;
    text-align: center;
    display: inline-block;
    float: none;
}

.footer-contact .contact-img.phone-img{
    height:88px;
}
.footer-contact .contact-img.location-img{
    height:100px;
}

.footer-contact .contact-img.phone-img img{
    width:70% !important;
}

.footer-contact .contact-icon img {
    margin-right: 5px;
    width:38%;
}

.footer-contact .contact-icon span.phone{
    line-height: 28px;
}

.footer-contact .contact-icon span {
    text-align: left;
    font-size: 16px;
    vertical-align:top;
    color:#fff;
    font-family: "Rubik-Regular";
}

.footer-contact .contact-icon .phone a{
    font-size: 28px;
    margin-bottom: 14px;
    display: inline-block;
}

.direction{
    color: #865942;
    text-decoration: underline;
    display: block;
    padding-left: 60px;
    padding-top: 10px;
    font-size: 16px;
}

.bottom-footer{
    text-align: center;
    background-color: #3c261e;
    padding: 15px 0;
}
.bottom-footer p{
    color:#fff;
    margin-bottom: 0;
}
.bottom-footer a{
    color:#fff;
    font-family: "Rubik-Regular";
}